---
import HTMLIcon from "./icons/HTML.astro";
import CSSIcon from "./icons/CSS.astro";
import JSIcon from "./icons/JS.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import TailwindIcon from "./icons/Tailwind.astro";
import SeeOnGithub from "./SeeOnGithub.astro";

const TAGS = {
  HTML: {
    name: "HTML5",
    class: "bg-orange-500 text-white",
    icon: HTMLIcon,
  },
  CSS: {
    name: "CSS3",
    class: "bg-blue-500 text-white",
    icon: CSSIcon,
  },
  JS: {
    name: "JavaScript",
    class: "bg-yellow-500 text-black",
    icon: JSIcon,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-white text-[#73bcf6] font-bold",
    icon: TailwindIcon,
  },
};

const PROJECTS = [
  {
    title: "Mi Portfolio Web",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae diam euiasmod, aliquam",
    link: "https://stellar-valkyrie-e8c97c.netlify.app/",
    github: "https://github.com/SoyElMadro/my-portfolio",
    image: "/projects/portfolio.png",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
  {
    title: "Clon Tesla Landing Page",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae diam euiasmod, aliquam",
    link: "https://sparkling-treacle-e590a5.netlify.app/",
    github: "https://github.com/SoyElMadro/Landing-Page-de-Tesla",
    image: "/projects/teslalanding.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
  {
    title: "Clon Abstract Helpcenter Page",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae diam euiasmod, aliquam",
    link: "https://comforting-tanuki-4c8811.netlify.app/",
    github: "https://github.com/SoyElMadro/clon-abstract-helpcenter",
    image: "/projects/abstracthelpcenter.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JS],
  },
  {
    title: "Aprendiendo Git",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae diam euiasmod, aliquam",
    link: "https://comandos-de-git-basicos.netlify.app/",
    github: "https://github.com/SoyElMadro/aprendiendo-git",
    image: "/projects/aprendiendogit.png",
    tags: [TAGS.HTML, TAGS.CSS],
  },
];
---

{
  PROJECTS.map(({ title, description, image, tags, link, github }) => (
    <article class="mb-16">
      <h3 class="text-[27px] font-semibold text-yellow-300 mb-2">{title}</h3>{" "}
      <SeeOnGithub github={github} />
      <p class="text-lg mb-4 text-pretty text-white/80">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2 select-none">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <a href={link} target="_blank" rel="noopener noreferrer">
        <img
          class="rounded shadow-2xl shadow-white/30"
          src={image}
          alt={`Captura de pantalla del proyecto ${image}`}
        />
      </a>
    </article>
  ))
}
