---
import HTMLIcon from "./icons/HTML.astro";
import CSSIcon from "./icons/CSS.astro";
import JSIcon from "./icons/JS.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import TailwindIcon from "./icons/Tailwind.astro";
import SeeOnGithub from "./SeeOnGithub.astro";
import ViteIcon from "./icons/Vite.astro";

const TAGS = {
  HTML: {
    name: "HTML5",
    class: "bg-orange-500 text-white",
    icon: HTMLIcon,
  },
  CSS: {
    name: "CSS3",
    class: "bg-blue-500 text-white",
    icon: CSSIcon,
  },
  JS: {
    name: "JavaScript",
    class: "bg-yellow-500 text-black",
    icon: JSIcon,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-white text-[#73bcf6] font-bold",
    icon: TailwindIcon,
  },
  VITE: {
    name: "Vite.js",
    class: "bg-white text-sky-500 font-bold",
    icon: ViteIcon,
  },
};

const PROJECTS = [
  {
    title: "Clon Tesla Landing Page",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae diam euiasmod, aliquam",
    link: "https://sparkling-treacle-e590a5.netlify.app/",
    github: "https://github.com/SoyElMadro/Landing-Page-de-Tesla",
    image: "/projects/teslalanding.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
  {
    title: "Clon Abstract Helpcenter Page",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae diam euiasmod, aliquam",
    link: "https://comforting-tanuki-4c8811.netlify.app/",
    github: "https://github.com/SoyElMadro/clon-abstract-helpcenter",
    image: "/projects/abstracthelpcenter.png",
    tags: [TAGS.HTML, TAGS.CSS],
  },
  {
    title: "Clon Ableton Landing Page",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae diam euiasmod, aliquam",
    link: "https://inspiring-malasada-462d03.netlify.app/",
    github: "https://github.com/SoyElMadro/Clon-Ableton-Landing-Page",
    image: "/projects/ableton-landing.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JS],
  },
  {
    title: "Typing Game",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae diam euiasmod, aliquam",
    link: "https://65a429e9e7ac41aa2ac30bca--chimerical-quokka-ccd05e.netlify.app/",
    github: "https://github.com/SoyElMadro/typing-game",
    image: "/projects/typing-game.webp",
    tags: [TAGS.VITE, TAGS.JS],
  },
  {
    title: "Generador de contraseñas seguras",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae diam euiasmod, aliquam",
    link: "https://darling-sawine-61aa4f.netlify.app/",
    github: "https://github.com/SoyElMadro/generador-de-contrasenas-seguras",
    image: "/projects/contraseñasseguras.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JS],
  },
];
---

<div class="flex flex-wrap gap-x-24">
  {
    PROJECTS.map(({ title, description, image, tags, link, github }) => (
      <article class="mb-16">
        <h3 class="text-[27px] font-semibold text-yellow-300 mb-2">{title}</h3>{" "}
        <SeeOnGithub github={github} />
        <p class="text-lg mb-4 text-pretty text-white/80">{description}</p>
        <ul class="flex gap-x-2 flex-row mb-2 select-none">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <a href={link} target="_blank" rel="noopener noreferrer">
          <img
            class="rounded shadow-2xl shadow-white/30"
            src={image}
            alt={`Captura de pantalla del proyecto ${image}`}
          />
        </a>
      </article>
    ))
  }
</div>
